body {
  background-color: black;
}
.container {
  display: flex;
  flex-direction: column;
}

.sub-container1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sub-container1 > div {
  /* flex-grow: 1;
  flex-shrink: 1; */
  margin: 5px;
}

.sub-container2 > div {
  /* flex-grow: 1;
  flex-shrink: 1; */
  margin: 5px;
}

.sub-container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 7px;
}

.normal {
  width: 655px;
  max-width: 100%;
  height: 450px;
}

.sub-container3 {
  background-color: darkcyan;
  color: cornsilk;
  height: 150px;
  text-align: center;
  margin-top: 4px;
  padding-top: 50px;
  box-sizing: border-box;
  width: 100%;
}

.heading {
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}

.small {
  width: 430px;
  max-width: 100%;
  height: 300px;
}
